.git
.gitignore
.env
.env.*
node_modules
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
public/build
public/hot
public/storage
*.log
.DS_Store
Thumbs.db
.idea
.vscode
.fleet
.zed
.phpunit.result.cache
.phpunit.cache
.phpactor.json
_ide_helper.php
Homestead.json
Homestead.yaml
auth.json
